@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");


* {
    font-family: Lato, sans-serif;
}

body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    box-shadow: 0 10px 20px -5px rgb(0 0 0 / 50%);
    border-radius: 5px;
    width: 45%;
    gap: 15px;
    
}
#player .far {
    color: dodgerblue;
}
.far {
    font-size: 50px;
}

#computer .far {
    color: rgb(235, 43, 52);
}
h1 {
    font-size: 25px;
    text-align: center;
    color: white
}

.titleBlock {
    background-color: dodgerblue;
}

.choices {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 10px;
}

.fas {
    font-size: 30px;
    margin-top: 20px;
}
.playerBlock , .computerBlock, .fas, #result {
    margin-left: 10px;
}

#result {
    text-align: center;
    
}